extends ../../../common/views/layouts/main

block content
  .dashboard
    .row
      .medium-6.columns {{name}}
      .medium-6.columns dashboard.create
      .medium-12.columns
        a(ui-sref="dashboard") Back
