extends ../../../common/views/layouts/main

block content
  .goods
    .row
      .medium-6.columns {{name}}
      .medium-6.columns order
      .medium-12.columns
        a(ui-sref="dashboard") Goto Dashboard

